/* Estilos generales para el pie de página */
.footer {
  clear: both;
  padding-top: 30px;
  padding-bottom: 50px;
  background: #262525;
  color: #585858;
}

/* Estilos para el contenedor de las cajas del pie de página */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilo de las cajas del pie de página */
.footer-box {
  flex: 1 1 200px;
  margin: 10px;
}

/* Estilo para el texto dentro de las cajas */
.footer-box .tipus {
  background-image: linear-gradient(to right, #45A3DB, #ffffff);
  background-size: 200% 100%;
  background-clip: text;
  color: transparent;
  animation: colorText 2s ease-in-out infinite alternate;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Animación para el texto en el pie de página */
@keyframes colorText {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/* Estilo de la lista en el pie de página */
.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilo de los enlaces en la lista */
.footer-list li a {
  color: #a09a9a;
  text-decoration: none;
}

.footer-list li a:hover {
  text-decoration: underline;
}

/* Estilos de los iconos de redes sociales */
.xxss-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.xxss-list li {
  margin: 0 5px;
}

.xxss-icon {
  color: #333;
  font-size: 20px;
}

.xxss-icon:hover {
  color: #fefefe;
}

/* Estilo para los iconos sociales */
.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}

.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}

.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}

.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}

.example-2 .icon-content a:hover {
  color: white;
}

.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}

.example-2 .icon-content a:hover .filled {
  height: 100%;
}

/* Consultas de medios para diseño responsivo */
@media (max-width: 768px) {
  /* Para pantallas más pequeñas */
  .footer-box {
    flex: 1 1 100%;
    margin: 10px 0;
  }

  .footer-list li a {
    font-size: 14px;
  }

  .xxss-list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .xxss-list li {
    margin: 5px;
  }

  /* Para íconos de redes sociales */
  .example-2 .icon-content a {
    width: 40px;
    height: 40px;
  }

  .example-2 .icon-content a svg {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 480px) {
  /* Para pantallas muy pequeñas */
  .footer-box {
    flex: 1 1 100%;
    text-align: center;
  }

  .xxss-icon {
    font-size: 18px;
  }

  .xxss-list li {
    margin: 5px 2px;
  }

  .button-container {
    flex-direction: column;
    margin-top: 20px;
  }

  .button {
    width: 120px;
    height: 35px;
  }

  .button__text {
    font-size: 14px;
  }
}
