/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.book-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.book-card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.book-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book-cover img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.book-details {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-details h2 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #007bff;
}

.book-details p {
  margin: 5px 0;
  color: #666;
}

button {
  align-items: center;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #0056b3;
}

#search-form .centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Asegura que los botones e inputs se alineen */
#search-form input, #search-form button {
  margin: 5px;
}

/* Estilo para el botón circular */
.button {
  align-items: center;
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  margin: 0;
  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

/* Botones y otros estilos con :before y :after */
.button:before, .button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 7px;
}

/* Media Queries para dispositivos pequeños */
@media (max-width: 768px) {
  .container {
      padding: 15px;
  }
  
  .book-list {
      flex-direction: column; /* Los libros se muestran en una sola columna */
  }
  
  .book-card {
      flex-direction: column;
      width: 100%;
  }

  .book-cover img {
      width: 100%; /* Asegura que la imagen ocupe el ancho completo */
      height: 200px; /* Ajusta la altura de la imagen para que se vea bien */
  }

  button {
      width: 100%; /* Hace que los botones ocupen todo el ancho */
      padding: 15px;
  }

  #search-form input, #search-form button {
      width: 100%; /* Los campos de búsqueda también ocupan todo el ancho */
      margin: 10px 0;
  }
}

/* Media Queries para dispositivos muy pequeños */
@media (max-width: 480px) {
  .book-details h2 {
      font-size: 16px; /* Ajusta el tamaño de los títulos para pantallas pequeñas */
  }

  .book-details p {
      font-size: 14px; /* Ajusta el tamaño del texto */
  }
}
