header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(pictures/fondo-futuro.webp);
    padding: 0px;
    height: 450px;
    background-attachment: fixed;
}

h6{
    text-decoration: none;
    color: azure;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    border-bottom: solid white;
}

h3{
    border-top: solid white;
}

.img-generica{
    border-radius: 5px;
    width: 40%;
    height: 40%;
    margin: 30px 300px;
    animation: float 3s ease-in-out infinite;
}

#tabla-ia{
    width: 100%;
    background: linear-gradient(#df06ba,rgb(101, 103, 230));
    background-attachment: fixed;
    padding: 200px;
    opacity: 0.8;
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

#tabla-ia p{
    width: 70%;
    text-align: center;
    margin: auto;
}

#tabla-ia img{
    width: 80%;
    height: 80%;
    margin: 20px 150px;
}

h5{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: black;
}


/* meadia query para celulares */
@media (min-width: 501px) and (max-width: 1024px) {
    header{
        display: flex;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background: url(pictures/fondo-futuro.webp);
        padding: 0px;
        height: 450px;
        width: 1024px;
      }
      
      
      h6{
        text-decoration: none;
        color: azure;
        text-align: center;
        font-size: 30px;
        margin-bottom: 50px;
        border-bottom: solid white;
      }
      
      h3{
        border-top: solid white;
      }
      
      .titulo{
        font-family:Georgia, 'Times New Roman', Times, serif;
        background-color: #000000;
        opacity: 0.9;
        position: absolute;
        margin-left: 0;
        margin-top: 150px;
        text-align: center;
        width: 35%;
        padding: 25px;
        border-radius: 10%;
        transition: 0.5s all;
      }
      
      .titulo h2{
        color: #ffffff;
      }
      
      .tituloPrincipal{
        font-size: 40px;
        font-weight: bold;
        color: #ffffff;
        transition: 0.5s all;
      }
      
      .descripcion{
        font-size: 18px;
      }
      
      main{
        background-color: #161616;
        display: flex;
      }
      
      .bg {
        animation:slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, rgb(0, 0, 0) 50%, rgb(14, 14, 14) 50%);
        bottom:0;
        left:-50%;
        opacity:.5;
        position:fixed;
        right:-50%;
        top:0;
        z-index:-1;
        background-attachment: fixed;
      }
      
      .bg2 {
        animation-direction:alternate-reverse;
        animation-duration:4s;
      }
      
      .bg3 {
        animation-duration:5s;
      }
      
      @keyframes slide {
        0% {
          transform:translateX(-25%);
        }
        100% {
          transform:translateX(25%);
        }
      }
      
      .explicacion {
        justify-content: space-between;
        width: 500px;
              border-radius: 10px;
              opacity: 0.9;
              padding: 20px;
      }
      
      .explicacion p {
        width: 100%;
        font-size: 16px;
        color: #cecece; /* Cambié el color a un tono oscuro para mayor legibilidad */
        padding: 10px;
        border-radius: 10px;
        text-align: justify;
        border-right: 0.15em solid rgb(255, 102, 0); /* Cursor de escritura */
        animation: colorChange 3s infinite;
      }
      
      .topics{
        width: 100%;
        font-size: 16px;
        color: #cecece; /* Cambié el color a un tono oscuro para mayor legibilidad */
        padding: 10px;
        border-radius: 10px;
        text-align: justify;
        border-right: 0.15em solid rgb(255, 102, 0); /* Cursor de escritura */
        animation: colorChange 3s infinite;
      }
      
      .topics h3{
        font-size: 20px;
      }
      
      .topics p{
        width: 70%;
        margin: 25px;
        font-size: 16px;
        color: #ffffff; /* Cambié el color a un tono oscuro para mayor legibilidad */
        padding: 10px;
        border-radius: 10px;
        text-align: justify;
        transition: font-size 2s, color 1s;
        animation: colorChange 3s infinite;
      }
      
      #tabla-ia{
        width: 100%;
        background: linear-gradient(#df06ba,rgb(101, 103, 230));
        background-attachment: fixed;
        padding: 200px;
        opacity: 0.8;
        border-top-left-radius: 50% 20%;
        border-top-right-radius: 50% 20%;
        border-bottom-left-radius: 50% 20%;
        border-bottom-right-radius: 50% 20%;
      }
      
      #tabla-ia p{
        width: 70%;
        text-align: center;
        margin: auto;
      }
      
      #tabla-ia img{
        width: 80%;
        height: 80%;
        margin: 20px 50px;
      }
      
      h5{
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        color: black;
      }
      
      .img-generica{
        border-radius: 5px;
        width: 70%;
        height: 400px;
        margin: 30px 90px;
      
      }
      
      p:hover{
        color:wheat;
        transition: 2s all;
      }
      
      .video{
        width: 50%;
        margin: 2em 1em;
      }
}